body{
  padding: 0.6%;
  margin: 0;
  font-size: 24px;
}

#memo-area{
  border: solid black 1px;
  /*scrollbar-width: none;*/
  box-sizing: border-box;
  height: 98.8%;
  width: 100%;
  resize: none;
  font-size: inherit;
  padding: 0.8rem;
}